@media (max-width: 400px){
    .promo {
        &__header {
            font-size: 31px;
        }
        &__subheader {
            font-size: 17px;
        }
    }
    .header{
        &__phone {
            font-size: 16px;
        }
        &__official {
            font-size: 13px;
        }
        &__logo {
            width: 200px;
        }
    }

}



    @media (max-width: 575px){
        .header{
            &__phone {
                font-size: 16px;
            }
            &__official {
                font-size: 13px;
            }
            &__logo {
                width: 200px;
            }
        }
        
}
